* {
  margin: 0;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.container {
  width: 480px;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
}

.square {
  border: 2px solid black;
  margin: 1px;
}
